body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    background-image: url(images/Milenium.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
}

.container{
    text-align: center;
}

.button {
    width: 100%;
    display: flex;
    justify-content: right;
}

#toggleBgmButton {
    text-decoration: none;
    background-color: rgb(250, 247, 247);
    position: absolute;
    right: 50px; 
    top: 30px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: none;
}

#toggleBgmButton i{
    font-size: 3em;
    color: black;
    opacity:  0.8;
}

#toggleBgmButton :hover {
    color:#db20db;
    transition: 0.5s;
}

h1{
    font-size: 6rem;
    margin-top: 1%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: -3%;
    -webkit-text-stroke: 2px black;
    background: linear-gradient(to bottom, rgb(231, 218, 230), #db20db);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

h4{
    font-size: 6rem;
    margin-top: 5%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 2%;
    background: linear-gradient(to bottom, rgb(231, 218, 230), #db20db);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
    color: white;
}